<% if(success && success.length)  { %> <!-- here success is an array to get correct condition we need to check the length of the array -->
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert"><%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
<% } %>

<% if(error && error.length)  { %> 
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert"><%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
<% } %>